<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.lucazamador.drools.monitor.eclipse.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.lucazamador.drools.monitor.eclipse.perspective.DroolsMonitoringPerspective"
            fixed="true"
            id="com.lucazamador.drools.monitor.eclipse.perspective.droolsMonitoringPerspective"
            icon="src/main/resources/icons/agent.png"
            name="Drools Monitoring">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="addGraphic"
            name="addGraphic">
      </command>
      <command
            id="addMonitoringAgent"
            name="addMonitoringAgent">
      </command>
      <command
            id="removeGraphic"
            name="removeGraphic">
      </command>
      <command
            id="removeMonitoringAgent"
            name="removeMonitoringAgent">
      </command>
      <command
            id="removeMonitoringConsole"
            name="removeMonitoringConsole">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.lucazamador.drools.monitor.eclipse.view.MonitoringAgentView"
            icon="src/main/resources/icons/bug.png"
            id="com.lucazamador.drools.monitor.eclipse.view.navigationView"
            name="Monitoring Agents"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.lucazamador.drools.monitor.eclipse.view.GraphicView"
            icon="src/main/resources/icons/graphic.png"
            id="com.lucazamador.drools.monitor.eclipse.view.graphicView"
            name="Graphic View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.lucazamador.drools.monitor.eclipse.view.KnowledgeBaseView"
            icon="src/main/resources/icons/kbase.png"
            id="com.lucazamador.drools.monitor.eclipse.view.knowledgeBaseView"
            name="Knowledge Base"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.lucazamador.drools.monitor.eclipse.view.KnowledgeSessionView"
            icon="src/main/resources/icons/ksession.png"
            id="com.lucazamador.drools.monitor.eclipse.view.knowledgeSessionView"
            name="Knowledge Session"
            restorable="true">
      </view>
   </extension>
   <extension
         id="drools-monitoring-eclipse"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.lucazamador.drools.monitor.eclipse.plugin.application"
            name="drools-monitoring-eclipse">
         <property
               name="appName"
               value="Drools Monitor">
         </property>
         <property
               name="aboutText"
               value="Drools Monitor">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="addMonitoringAgent"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+A">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="com.lucazamador.drools.monitor.eclipse.console.ConsoleParticipant"
            id="droolsMonitoringConsoleParticipant">
         <enablement></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         id="drools-monitoring-studio"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.lucazamador.drools.monitor.eclipse.plugin.application"
            name="drools-monitoring-eclipse">
         <property
               name="aboutText"
               value="Drools Monitoring">
         </property>
      </product>
   </extension>
   <extension
         id="studio"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.lucazamador.drools.monitor.eclipse.plugin.application"
            name="drools-monitor-eclipse">
         <property
               name="aboutText"
               value="Drools Monitor">
         </property>
         <property
               name="appName"
               value="drools-monitor-eclipse">
         </property>
      </product>
   </extension>

</plugin>
